body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  margin: auto;
  max-width: 52%;
  padding: 1rem;
  border: 1px solid #eeeff1;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.request-info {
  display: flex;
  min-width: 30%;
  margin-right: 2rem;
}

.box {
  display: flex;
}

.request-header {
  display: flex;
  justify-content: space-between;
}

.request-title {
  margin: 0;
  padding: 0.5rem 0.5rem 0;
  font-weight: 500;
}

.request-status {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.request-note {
  padding: 0 0.5rem 0.5rem;
  margin: 0 0 0.2rem;
  font-size: 0.9rem;
  color: #6b7280;
}

.footnote {
  padding: 0.5rem;
  margin: 0;
  font-size: 0.8rem;
  color: #9ca3af;
}

.asterisk {
  color: #dc262d;
}

.request-details {
  display: flex;
  min-width: 70%;
  padding: 0.5rem;
}

.request-form {
  display: flex;
  min-width: 70%;
}

.field .request-form__input-field {
  width: 100%;
  border-radius: 6px;
}

.icon-field {
  display: flex;
  flex-direction: column;
}

.input-field__footnote {
  display: flex;
}

.input-field__footnote-text {
  margin: -0.5rem 0 1rem;
  font-size: 0.8rem;
  color: #6b7280;
}

.weight-500 {
  font-weight: 500;
}

.request-form__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0 1rem;
  border-radius: 6px;
}

.request-form__input-label {
  text-transform: uppercase;

  font-size: 0.9rem;
  font-weight: 500;
  color: #374151;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  line-height: 2.3rem;
  width: 10%;
  border: 1px solid #d1d5db;
  border-right: 0;
  border-radius: 6px 0 0 6px;
}

.request-form__input-icon {
  display: flex;
  height: 1.5rem;
}

.request-form__input-field {
  display: flex;
  width: 90%;
  padding: 0 0.8rem;
  line-height: 2.3rem;
  border: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0;
}

.request-form__textarea-field {
  display: flex;
  min-width: 125%;
  height: 50%;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  font-family: inherit;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: #d1d5db;
  border-radius: 6px;
}

.text-field .request-form__input {
  margin-bottom: 0;
}
